<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @meeting.surname %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @meeting.mail %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @meeting.phone %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @meeting.time %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
