<%=form_for :modelo, :html => { :method => :get, :class => "form-horizontal" } do |f| %>

<div class="field">
		<%= f.label :titulo, "Nombres" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "Apellidos" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "DNI" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "Teléfono" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "Correo" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :lista, "Proyecto" %>
		<%= f.select :lista, [["Breña1", 1], ["Cercado3", 2], ["Miraflores2", 3], ["San Isidro1", 4], ["Surco4", 5]], { :include_blank => "Seleccione tipo"}, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :lista, "Tipo de Departamento" %>
		<%= f.select :lista, [["A", 1], ["B", 2], ["C", 3], ["D", 4], ["E", 5]], { :include_blank => "Seleccione tipo"}, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "Piso" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>
<div class="field">
		<%= f.label :titulo, "Sub-total" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>
 	
<div class="field">
		<%= f.label :titulo, "Descuento por piso" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.label :titulo, "Costo Total" %>
		<%= f.text_field :titulo, :class => "form-control" %>
</div>

<div class="field">
		<%= f.submit "Enviar datos", :class => "btn btn-primary" %>
</div>


<% end %>