
<li><%= link_to "Solicitar cotización", { :controller => "customers", :action => "new" }  %> </li>
<li><%= link_to "Ingresar", pages_login_path  %> </li>
<li><%= link_to "Agregar Usuario", { :controller => "users", :action => "new" }  %> </li>
<li><%= link_to "Agregar Proyecto", { :controller => "proyects", :action => "new" }  %> </li>
<li><%= link_to "Agregar Tipo de Departamento", { :controller => "apart_types", :action => "new" }  %> </li>
<li><%= link_to "Lista de Clientes", { :controller => "customers", :action => "index" }  %> </li>
<li><%= link_to "Lista de Citas", { :controller => "meetings", :action => "index" }  %> </li>
<li><%= link_to "Proformas", pages_proforma_path  %> </li>
<li><%= link_to "Separar Departamento", pages_separa_depa_path  %> </li>
<li><%= link_to "Registro de Venta", pages_registro_venta_path  %> </li>
<li><%= link_to "Reportes", pages_reporte_path  %> </li>

<li><%= link_to "Acerca de nosotros", pages_about_us_path  %> </li>
<li><%= link_to "Contactenos", pages_contact_us_path  %> </li>